<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h5>О проекте</h5>
            <p>DrMooha - ваш любимый магазин аудиотехники</p>
        </div>
        <div class="col-md-4">
            <h5>Быстрые ссылки</h5>
            <ul class="list-unstyled">
                <li><a href="{% url 'mooha:product_list' %}" class="text-decoration-none">Товары</a></li>
                <li><a href="{% url 'mooha:category_list' %}" class="text-decoration-none">Категории</a></li>
                <li><a href="{% url 'mooha:tag_list' %}" class="text-decoration-none">Теги</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>Контакты</h5>
            <ul class="list-unstyled">
                <li><i class="bi bi-envelope me-2"></i>tyomajoraly@gmail.com</li>
                <li><i class="bi bi-telephone me-2"></i>+7 (978) 787-87-87</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="text-center">
        <p class="mb-0">&copy; 2024 DrMooha. Все права защищены.</p>
    </div>
</div> 